.posts {
    max-width: 564px;
    /* min-height: 275px; */
    /* min-height: 94vh; */
    border-radius: 35px;
    background-color: white;
    
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.post:first-child {
    padding: 29px 0px 25px 26px;
}
  
.post {
    display: flex;
    gap: 19px;
    align-items: center;
    padding: 0px 0px 25px 26px;
}
  
.pic {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #DCDCDC;
}
  
.text {
    font-size: 15px;
    letter-spacing: 0.05em;
}