.wrap {
  max-width: 966px;
  min-height: 94vh;
  border-radius: 35px;
  background-color: white;
  margin: 0 auto;

  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcomeText {
  min-height: 94vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 25px;
  line-height: 1.8;
  letter-spacing: 0.11em;
  font-weight: 600;
}
